<% if (web) { %>
  #set($title="#{pageName}#")
  #set($page="#{pageName}#/")
<% } %>
<#-if #{!(useLayout)}#>
<!DOCTYPE html>
<html>
<#-headElements />
<body>
<#-resourceElements />
<#-if #{!(useLayout)}#><link href="/resources/app/css/common.css?ver=<%=ver%>" rel="stylesheet" /></#-if>
</#-if>
  <link href="/resources/app/css/pages/#{pageName}#/container.css?ver=<%=ver%>" rel="stylesheet" />
  <section id="container"></section>
  <script type="text/nornj" data-auto data-target="#container">
    <Container>
      <#tmpl>
        <div class="vicb-pagecontainer <% if (web) { %>vic-resetLsStyle<% } %>">
          <section class="vicb-main">
            <ant-Breadcrumb>
              <ant-BreadcrumbItem>Home</ant-BreadcrumbItem>
              <ant-BreadcrumbItem>List</ant-BreadcrumbItem>
              <ant-BreadcrumbItem>#{pageName}#</ant-BreadcrumbItem>
            </ant-Breadcrumb>
            <section class="vicb-content {styles.content}">
              <vicb-DataTable store={#{pageName}#Store} />
            </section>
          </section>
        </div>
      </#tmpl>
    </Container>
  </script>
<#-if #{!(useLayout)}#>
<#-bottomElements />
<script src="/resources/app/pages/#{pageName}#/container.js?ver=<%=ver%>"></script>
</body>
</html>
</#-if>