<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />
<% if (web) { %>
<link rel="stylesheet" type="text/css" href="http://ls.jd.com/resources/soneuiv2/css/third-party.min.css" />
<!--ui标准化组件样式-->
<link rel="stylesheet" type="text/css" href="http://ls.jd.com/resources/soneuiv2/css/sone-ui.min.css" />
<!-- third party-->
<script type="text/javascript" src="http://ls.jd.com/resources/soneuiv2/js/third-party/vendors.min.js"></script>
<script type="text/javascript" src="http://ls.jd.com/resources/soneuiv2/js/sone-ui/sone-ui.min.js"></script>
<!--去除iframe -->
<script type="text/javascript" src="http://ls.jd.com/resources/js/dashboard-init-href.js"></script>
<!--ui标准化 通用插件 包括daterangepicker、combo等插件-->
<script type="text/javascript" src="http://ls.jd.com/resources/soneuiv2/js/sone-widget/sone-widget.min.js"></script>
<script type="text/javascript" src="http://ls.jd.com/resources/soneuiv2/js/third-party/iframeResizer.contentWindow.js"></script>
<% } else { %>
<link href="/resources/libs/font-awesome/css/font-awesome.min.css?ver=<%=ver%>" rel="stylesheet" />
<% } %>