{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import", "react"],
  "rules": {
    "@typescript-eslint/indent": [
      1,
      2,
      {
        "SwitchCase": 1,
        "ignoredNodes": ["TemplateLiteral > *", "JSXOpeningElement > *"]
      }
    ],
    "react/jsx-curly-spacing": 0,
    "react/jsx-indent-props": 0,
    "react/jsx-indent": [1, 2],
    "jsx-quotes": [1, "prefer-double"],
    "camelcase": [
      1,
      {
        "properties": "always"
      }
    ],
    "comma-dangle": [0, "never"],
    "semi": [1, "always"],
    "quotes": [
      1,
      "single",
      {
        "allowTemplateLiterals": true
      }
    ],
    "strict": [0, "global"],
    "no-multiple-empty-lines": [
      1,
      {
        "max": 1
      }
    ]
  }
}
