<% if (web) { %>
  #set($title="page2")
  #set($page="page2/")
<% } %>
<#-if #{!(useLayout)}#>
<!DOCTYPE html>
<html>
<#-headElements />
<body>
<#-resourceElements />
<link href="/resources/app/css/common.css?ver=<%=ver%>" rel="stylesheet" />
<div id="page-wrapper">
  <!--当前登录人信息-->
  <input type="hidden" id="curUserErpCode" />
  <input type="hidden" id="curUserChineseName" />
  <input type="hidden" id="curUserUserId" />
  <input type="hidden" id="curUserOrganizationId" />
  <input type="hidden" id="curUserEmail" />
</#-if>
  <link href="/resources/app/css/pages/page2/container.css?ver=<%=ver%>" rel="stylesheet" />
  <section id="container"></section>
  <script type="text/nornj" data-auto data-target="#container">
    <Container>
      <#tmpl>
        <div class="vicb-pagecontainer <% if (web) { %>vic-resetLsStyle<% } %>">
          <section class="vicb-main">
            <ant-Breadcrumb>
              <ant-BreadcrumbItem>Home</ant-BreadcrumbItem>
              <ant-BreadcrumbItem>List</ant-BreadcrumbItem>
              <ant-BreadcrumbItem>Page 2</ant-BreadcrumbItem>
            </ant-Breadcrumb>
            <section class="vicb-content {styles.content}">
              <vicb-DataTable store={page2Store} />
            </section>
          </section>
        </div>
      </#tmpl>
    </Container>
  </script>
<#-if #{!(useLayout)}#>
</div>
<#-bottomElements />
<script src="/resources/app/pages/page2/container.js?ver=<%=ver%>"></script>
</body>
</html>
</#-if>