{
  "extends": "stylelint-config-standard",
  "rules": {
    "string-quotes": "single",
    "property-no-unknown": [
      true,
      {
        "ignoreProperties": [
          "composes"
        ]
      }
    ],
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": [
          "global"
        ]
      }
    ],
    "selector-pseudo-element-colon-notation": "single",
    "no-descending-specificity": null,
    "number-leading-zero": null,
    "at-rule-no-unknown": null,
    "at-rule-empty-line-before": "never",
    "no-eol-whitespace": [
      true,
      {
        ignore: ["empty-lines"]
      }
    ],
    "max-empty-lines": [
      1,
      {
        ignore: ["comments"]
      }
    ],
    "no-missing-end-of-source-newline": null
  }
}