{
  "presets": ["stage-3", "react"],
  "env": {
    "development": {
      "presets": ["env"],
      "plugins": [
        ["transform-object-rest-spread"],
        "transform-decorators-legacy", [
          "transform-class-properties",
          { "loose": false }
        ],
        "transform-object-assign", [
          "transform-es2015-classes",
          { "loose": true }
        ],
        [
          "transform-es2015-for-of",
          { "loose": true }
        ]
      ]
    },
    "webpack": {
      "presets": [
        ["env", { "modules": false }]
      ],
      "plugins": [
        ["transform-object-rest-spread"],
        "transform-decorators-legacy", [
          "transform-class-properties",
          { "loose": false }
        ],
        "transform-object-assign", [
          "transform-es2015-classes",
          { "loose": true }
        ],
        [
          "transform-es2015-for-of",
          { "loose": true }
        ]
      ]
    }
  }
}