<% if (web) { %>
  #set($title="page1")
  #set($page="page1/")
<% } %>

<!DOCTYPE html>
<html>
<% if (web) { %>
#parse("pages/common/headElements.vm")
<% } else { %>
<$include src="./common/headElements.html" />
<% } %>
<body>
  <% if (web) { %>
  #parse("pages/common/resourceElements.vm")
  <% } else { %>
  <$include src="./common/resourceElements.html" />
  <% } %>
<link href="/resources/app/css/common.css?ver=<%=ver%>" rel="stylesheet" />

  <link href="/resources/app/css/pages/page1/container.css?ver=<%=ver%>" rel="stylesheet" />
  <section id="container"></section>
  <script type="text/nornj" data-auto data-target="#container">
    <Container>
      <#tmpl>
        <div class="fjb-pagecontainer">
          <fjb-Header no=1 />
          <section class="fjb-body">
            <aside class="fjb-aside">
              <Sider />
            </aside>
            <section class="fjb-main">
              <ant-Breadcrumb>
                <ant-BreadcrumbItem>Home</ant-BreadcrumbItem>
                <ant-BreadcrumbItem>List</ant-BreadcrumbItem>
                <ant-BreadcrumbItem>Page 1</ant-BreadcrumbItem>
              </ant-Breadcrumb>
              <section class="fjb-content {styles.content}">
                <DataTable />
              </section>
            </section>
          </section>
        </div>
      </#tmpl>
    </Container>
  </script>

  <% if (web) { %>
  #parse("pages/common/bottomElements.vm")
  <% } else { %>
  <$include src="./common/bottomElements.html" />
  <% } %>
<script src="/resources/app/pages/page1/container.js?ver=<%=ver%>"></script>
</body>
</html>
