<% if (web) { %>
  #set($title="page2")
  #set($page="page2/")
<% } %>
<#-if #{!(useLayout)}#>
<!DOCTYPE html>
<html>
<#-headElements />
<body>
<#-resourceElements />
<link href="/resources/app/css/common.css?ver=<%=ver%>" rel="stylesheet" />
</#-if>
  <link href="/resources/app/css/pages/page2/container.css?ver=<%=ver%>" rel="stylesheet" />
  <section id="container"></section>
  <script type="text/nornj" data-auto data-target="#container">
    <Container>
      <#tmpl>
        <div class="vicb-pagecontainer">
          <vicb-Header no=2 />
          <section class="vicb-body">
            <aside class="vicb-aside">
              <vicb-Sider />
            </aside>
            <section class="vicb-main">
              <ant-Breadcrumb>
                <ant-BreadcrumbItem>Home</ant-BreadcrumbItem>
                <ant-BreadcrumbItem>List</ant-BreadcrumbItem>
                <ant-BreadcrumbItem>Page 2</ant-BreadcrumbItem>
              </ant-Breadcrumb>
              <section class="vicb-content {styles.content}">
                <vicb-DataTable store={page2Store} />
              </section>
            </section>
          </section>
        </div>
      </#tmpl>
    </Container>
  </script>
<#-if #{!(useLayout)}#>
<#-bottomElements />
<script src="/resources/app/pages/page2/container.js?ver=<%=ver%>"></script>
</body>
</html>
</#-if>