<!DOCTYPE html>
<html>
<head>
  <title><% if (web) { %>$!title<% } else { %>{% title %}<% } %></title>
  <% if (web) { %>
  #parse("pages/common/headElements.vm")
  <% } else { %>
  <$include src="../common/headElements.html" />
  <% } %>
</head>
<body>
  <% if (web) { %>
  #parse("pages/common/resourceElements.vm")
  <% } else { %>
  <$include src="../common/resourceElements.html" />
  <% } %>
  <link href="/resources/app/css/common.css?ver=<%=ver%>" rel="stylesheet" />
  <% if (web) { %>
  <div id="page-wrapper">
    <!--当前登录人信息-->
    <input type="hidden" id="curUserErpCode" />
    <input type="hidden" id="curUserChineseName" />
    <input type="hidden" id="curUserUserId" />
    <input type="hidden" id="curUserOrganizationId" />
    <input type="hidden" id="curUserEmail" />
    $screen_content
  </div>
  #parse("pages/common/bottomElements.vm")
  <% } else { %>
  {{% body %}}
  <$include src="../common/bottomElements.html" />
  <% } %>
  <script src="/resources/app/common.js?ver=<%=ver%>"></script>
  <script src="/resources/app/pages/<% if (web) { %>$!{page}<% } else { %>{% page %}<% } %>container.js?ver=<%=ver%>"></script>
</body>
</html>