<div class="{styles.sider}">
  <ant-Menu mode="inline" defaultSelectedKeys="{list('1')}" defaultOpenKeys="{list('sub1')}">
    <ant-SubMenu key="sub1">
      <@title>
        <span><ant-Icon type="user" />subnav 1</span>
      </@title>
      <ant-MenuItem key="1">option1</ant-MenuItem>
      <ant-MenuItem key="2">option2</ant-MenuItem>
      <ant-MenuItem key="3">option3</ant-MenuItem>
      <ant-MenuItem key="4">option4</ant-MenuItem>
    </ant-SubMenu>
    <ant-SubMenu key="sub2">
      <@title>
        <span><ant-Icon type="laptop" />subnav 2</span>
      </@title>
      <ant-MenuItem key="5">option5</ant-MenuItem>
      <ant-MenuItem key="6">option6</ant-MenuItem>
      <ant-MenuItem key="7">option7</ant-MenuItem>
      <ant-MenuItem key="8">option8</ant-MenuItem>
    </ant-SubMenu>
    <ant-SubMenu key="sub3">
      <@title>
        <span><ant-Icon type="notification" />subnav 3</span>
      </@title>
      <ant-MenuItem key="9">option9</ant-MenuItem>
      <ant-MenuItem key="10">option10</ant-MenuItem>
      <ant-MenuItem key="11">option11</ant-MenuItem>
      <ant-MenuItem key="12">option12</ant-MenuItem>
    </ant-SubMenu>
  </ant-Menu>
</div>