<% if (web) { %>
  #set($title="#{pageName}#")
  #set($page="#{pageName}#/")
<% } %>
<#-if #{!(useLayout)}#>
<!DOCTYPE html>
<html>
<#-headElements />
<body>
<#-resourceElements />
<link href="/resources/app/css/common.css?ver=<%=ver%>" rel="stylesheet" />
</#-if>
  <link href="/resources/app/css/pages/#{pageName}#/container.css?ver=<%=ver%>" rel="stylesheet" />
  <section id="container"></section>
  <script type="text/nornj" data-auto data-target="#container">
    <Container>
      <#tmpl>
        <div class="fjb-pagecontainer">
          <fjb-Header no=#{pageName}# />
          <section class="fjb-body">
            <aside class="fjb-aside">
              <Sider />
            </aside>
            <section class="fjb-main">
              <ant-Breadcrumb>
                <ant-BreadcrumbItem>Home</ant-BreadcrumbItem>
                <ant-BreadcrumbItem>List</ant-BreadcrumbItem>
                <ant-BreadcrumbItem>#{pageName}#</ant-BreadcrumbItem>
              </ant-Breadcrumb>
              <section class="fjb-content {styles.content}">
                <DataTable />
              </section>
            </section>
          </section>
        </div>
      </#tmpl>
    </Container>
  </script>
<#-if #{!(useLayout)}#>
<#-bottomElements />
<script src="/resources/app/pages/#{pageName}#/container.js?ver=<%=ver%>"></script>
</body>
</html>
</#-if>